@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

*{
    margin:0px;
    padding: 0px;
}

body {
    background: linear-gradient(#D6EAF8, #5DADE2);
    text-justify: center;
}

/* NavBar */

.Name {
  background: linear-gradient(#D6EAF8, #5DADE2);
}

ul{ 
    list-style-type: none;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
  }

h1.logo {
    font-weight: 300;
    line-height: 1.2;
    margin: 1px 0;
    justify-content: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    color: white;
  }

.navbar {
    background-color: #21618C;
    color: #fff;
    height: 60px;
    white-space: inherit;
  }

.navbar ul{
    display: flex;
    flex-direction: row;
  }

.navbar a{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }

  .navbar a hover{
    border-bottom: 2px #fff solid;
  }
  
  .navbar .flex{
    justify-content: space-between;
    align-items: center;
  }

  .container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: uto;
    padding: 0 40px;
  }
  
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: row;
  }

  
/* Name */
img {
    height: 200px;
    width: 200px;
    shape-image-threshold: inherit;
    padding: center;
    margin-top: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
  }

h1 {
    text-align: center;
    color: #092B56;
    size: 80px;
}

p.title {
    color: #151B54;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px; margin: 0; padding: 0;
}

p.name {
    color: #151B54;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px; margin: 0; padding: 0;
}

a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px 5px;
}

p.linkcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
  }

/* Academic Section */

  p.academsec {
    font-size: 25%;
    margin: 1px 0;
    padding: 10px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color: #5499C7;
    white-space: inherit;
  }

  .academsec {
    background: linear-gradient(#5DADE2, #3498DB);
    color: #fff;
    height: 350px;
    white-space: inherit;
  }

  p.academcon {
    padding: 20px;
    margin: 10px 10px;
    display: block;
    color: white;
    font-family: 'Dancing Script', cursive;
    align-items: center;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    font-family: 'Dancing Script', cursive;
  }
  
  tr:nth-child(even) {
    background-color:  #5499C7;;
  }


/* Accomplishments */

p.accompsec {
    font-size: 25%;
    margin: 1px 0;
    padding: 10px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color:  #04264d;
    white-space: inherit;
  }


.accompsec {
  background: linear-gradient(#3498DB, #2E86C1);
    color: #fff;
    height: 350px;
    white-space: inherit;
  }


ul {
  font-size: 50x;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
}

/* Responsibility */

  p.respsec {
    font-size: 25%;
    margin: 1px 0;
    padding: 10px;
    text-align: left;
    font-family: 'Dancing Script', cursive;
    color:  #04264d;
    white-space: inherit;
  }


.respsec {
    background: linear-gradient(#2E86C1, #2874A6);
    color: #fff;
    height: 350px;
    white-space: inherit;
  }


ul {
  font-size: 50x;
  padding: 10px;
  font-family: 'Dancing Script', cursive;
}

/* footer */

.footer {
  height: 75px;
  background: linear-gradient(#2874A6, #21618C);
  color: #fff; 
  height: 60px;
  white-space: inherit;
}

a.footer {
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  align-items: center;
}

p.footer {
  align-items: right;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
  padding: 0;
  margin: 0 0;
}