body {
  margin: 10px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vh;
}

.logo {
  font-size: 0.75rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin: 5px;
}

.navbar a:hover {
  color: #ff0000;
}

/* Intro  banner */

.intro-banner {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.intro-pfp {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro-pfp img {
  height: 40vh;
  border-radius: 50%;
}

.intro span {
  text-transform: uppercase;
  font-size: 2.5vh;
  color: #f96d00;
}

.intro h1 {
  margin: 0;
  font-size: 5vh;
}

.intro p {
  margin: 0;
  color: #777;
}

.intro button {
  border: none;
  margin: 10px 0;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 2rem;
  width: 5rem;
  cursor: pointer;
}

.intro button:hover {
  background-color: #f96d00;
}

.intro a {
  text-decoration: none;
  color: #000;
}

.links {
}

.links button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.links button:hover {
  background-color: #f96d00;
  color: #fff;
}

.about {
  padding: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me span {
  display: block;
  text-transform: uppercase;
  color: #f96d00;
  font-size: 2.5vh;
}

.about-me p {
  text-align: center;
  font-size: 2vh;
  line-height: 2.5vh;
  color: #777;
}

.collab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collab span {
  text-transform: uppercase;
}

.collab p {
  text-align: center;
  color: #777;
}

.collab a {
  text-decoration: none;
  color: #777;
  cursor: pointer;
}

.collab a:hover {
  color: #f96d00;
}

.skills {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills span {
  text-transform: uppercase;
  color: #f96d00;
  font-size: 2.5vh;
  margin: 0 0 20px 0;
}

.skill-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.skill-card i {
  border: 10px solid #f96d00;
  border-radius: 50%;
  background-color: #f96d00;
}

.skill-card span {
  text-transform: none;
  color: #000;
  margin: 5px 0;
}

.skill-card p {
  color: #777;
  text-align: center;
  margin: 0;
}

.projects {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects span {
  text-transform: uppercase;
  color: #f96d00;
  font-size: 2.5vh;
  margin: 0 0 20px 0;
}

.project-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #000;
  border: 1px solid black;
  border-radius: 20px;
}

.project-card img {
  height: 10vh;
}

.project-card p {
  text-align: center;
  margin: 0;
  color: #fff;
}

.blogs {
  margin: 20px;
}

.blogs span {
  text-transform: uppercase;
  color: #f96d00;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5vh;
}

.blog-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.blog-card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.blog-card img {
  height: 10vh;
}

.blog-card span {
  margin: 10px;
  text-align: center;
  color: #000;
  font-size: 2vh;
}

.blog-card p {
  margin: 10px;
  text-align: center;
}

.blog-card button {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  margin: 10px;
}

.blog-card button:hover {
  background-color: #f96d00;
}

.blog-card a {
  text-decoration: none;
  color: #000;
}

.illustrate {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustrate span {
  text-transform: uppercase;
  color: #f96d00;
}

.illustrate-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.illustrate-card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.illustrate-card img {
  height: 20vh;
}

.illustrate-card p {
  padding: 0 10px;
  text-align: center;
}

.illustrate-card button {
  border-radius: 10px;
  height: 2rem;
  width: 4rem;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

.illustrate-card button:hover {
  background-color: #f96d00;
}

.illustrate-card a {
  text-decoration: none;
  color: #000;
}

.photos {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos span {
  text-transform: uppercase;
  color: #f96d00;
}

.photos-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photos-card {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.photos-card img {
  height: 20vh;
}

.photos-card p {
  padding: 0 10px;
  text-align: center;
}

.photos-card button {
  border-radius: 10px;
  height: 2rem;
  width: 4rem;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

.photos-card button:hover {
  background-color: #f96d00;
}

.photos-card a {
  text-decoration: none;
  color: #000;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.footer p {
  color: #777;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: #f96d00;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 1.5vh;
}
