body {
  margin: 10px;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.logo {
  font-size: 2.5vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 50%;
}

.navbar a {
  text-decoration: none;
  color: #000;
  margin: 5px;
  font-size: 2.5vh;
}

.navbar a:hover {
  color: #ff0000;
}

.navbar-toggle {
  background-color: white;
  border: none;
  font-size: 2.5vh;
  border-radius: 50%;
  cursor: pointer;
}

.navbar-toggle:hover {
  color: #f96d00;
}

@media screen and (max-width: 768px) {
  .navbar {
    .navbar {
      display: none;
      flex-direction: column;
      opacity: 0; /* Initially hide the navbar */
      max-height: 0; /* Set maximum height to 0 */
      overflow: hidden;
      visibility: hidden; /* Hide the content */
      transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease; /* Add transitions */
    }

    .navbar.active {
      display: flex;
      max-height: 500px; /* Adjust the maximum height as needed */
      opacity: 1;
      visibility: visible; /* Show the content */
    }

    .navbar-toggle {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
    }

    .toggle-icon {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #333;
      position: relative;
      transition: background-color 0.3s ease;
    }

    .navbar-toggle.active .toggle-icon {
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    flex-direction: row;
    display: flex;
    max-height: none;
    opacity: 1;
    visibility: visible;
    transition: none; /* Remove transitions for larger screens */
  }

  .navbar-toggle {
    display: none;
  }
}

/* Intro  banner */

.intro-banner {
  padding: 10vh 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 5px;
  height: 55vh;
}

.intro-lines {
  width: 50%;
  padding: 0 40px;
}

.intro {
  width: 100%;
}

.intro-pfp {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro-pfp img {
  height: 50vh;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

.intro-pfp img:hover {
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .intro-lines {
    width: 100%;
    padding: 0;
  }

  .intro {
    width: 150%;
  }
  .intro-pfp img {
    display: none;
  }
}

.intro span {
  text-transform: uppercase;
  font-size: 5vh;
  color: #f96d00;
}

.intro h1 {
  margin: 0;
  font-size: 8vh;
}

.intro p {
  margin: 2, 5vh 0;
  color: #777;
  font-size: 2vh;
}

.intro h5 {
  font-size: 2.5vh;
  margin: 1vh;
  color: #777;
}

.intro button {
  border: none;
  margin: 10px 0;
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 6vh;
  width: 20vw;
  cursor: pointer;
}

.intro button:hover {
  background-color: #f96d00;
}

.intro a {
  text-decoration: none;
  color: #000;
  font-size: 2vh;
}

.links button {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.links button:hover {
  background-color: #f96d00;
  color: #fff;
}

.links a {
  color: #000;
}

.links a:hover {
  color: #fff;
}

.about-me p {
  text-align: center;
  font-size: 2vh;
  line-height: 2.5vh;
  color: #777;
}

.collab p {
  color: #777;
  font-size: 3vh;
}

.collab a {
  text-decoration: none;
  color: #f96d00;
  cursor: pointer;
  font-size: 2vh;
}

.collab a:hover {
  text-decoration: underline;
}

/* skills */

.skills {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 20px;
  padding: 5vh;
}

.skills span {
  text-transform: uppercase;
  color: #f96d00;
  font-size: 3vh;
  margin: 0 0 5vh 0;
}

.skill-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .skill-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  max-width: 20vw;
}

.skill-card i {
  border: 10px solid #f96d00;
  border-radius: 50%;
  background-color: #f96d00;
}

.skill-card span {
  text-transform: none;
  color: #000;
  margin: 5px 0;
  text-align: center;
  font-size: 2.5vh;
}

.skill-card p {
  color: #777;
  text-align: center;
  margin: 0;
}

.projects {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects span {
  text-transform: uppercase;
  color: #f96d00;
  font-size: 3vh;
}

.projects p {
  font-size: 2vh;
  color: #333;
  margin: 0 0 4vh 0;
}

.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .project-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: #000;
  border: 1px solid black;
  border-radius: 20px;
  width: 15rem;
  height: 15rem;
}

.project-card img {
  height: 10vh;
}

.project-card p {
  text-align: center;
  margin: 0;
  color: #fff;
}

.blogs {
  margin: 20px;
}

.blogs span {
  text-transform: uppercase;
  color: #f96d00;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vh;
}

.blog-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.blog-card {
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-card img {
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.blog-card img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.blog-card span {
  margin: 10px;
  text-align: center;
  color: #000;
  font-size: 2vh;
}

.blog-card p {
  margin: 10px;
  text-align: center;
}

.blog-card button {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  margin: 10px;
}

.blog-card button:hover {
  background-color: #f96d00;
}

.blog-card a {
  text-decoration: none;
  color: #000;
}

.instagram {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .instagram {
    display: flex;
    flex-direction: column;
  }
}

.illustrate {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.illustrate span {
  text-transform: uppercase;
  color: #f96d00;
  font-size: 3vh;
  margin: 0 0 3vh 0;
}

.illustrate-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.illustrate-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 15rem;
  width: 15rem;
}

.instagram img {
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.instagram img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.instagram a {
  text-decoration: none;
  color: #000;
}

.photos {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photos span {
  text-transform: uppercase;
  color: #f96d00;
  font-size: 3vh;
  margin: 0 0 3vh 0;
}

.photos-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photos-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Contact form */
.contact {
  margin: 20px;
}

.contact-form {
  max-width: 80%;
}

.contact-field {
  display: flex;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.footer h1 {
  margin: 0;
}

.footer p {
  color: #777;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: black;
}

.logo a:hover {
  color: #f96d00;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 1.5vh;
}
